<div class="container-fluid">
  <%= render "global/errors", :errors => @pgn.errors %>

  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <%= form_for @pgn, :url => pgn_path, :class => "form hid" do |f| %>
        <div class="form-group">
          <%= f.label(:text, "Copy/Paste PGN") %> <%= link_to "Example", "#", :id => "example" %>
          <%= f.text_area(:text, :size => "24x20", :class => "form-control") %>
        </div>
        <%= submit_tag("Submit", :class => "btn") %>
      <% end %>
    </div>

    <div class="col-lg-4"></div>
  </div>

</div>